<!-- templates/password_change_form.html -->
{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block pagecontent %}
  <h2>Password Change</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Change</button>
  </form>

{% endblock %}

