{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Yocto Project {% endblock %}
{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Hello from Yocto Project!</h1>
		</div>
  </div>

  <!-- Design copied from "srtgui/templates/landing.html -->

  <div class="row">
	<div class="jumbotron well-transparent">

		<div class="col-md-6">
			<div>
			<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
				<thead>
					<tr>
						<th>Table</th>
						<th>Description</th>
					</tr>
				</thead>

				<tr>
					<td><a class="btn btn-info btn-lg" href="https://wiki.yoctoproject.org/wiki/SRTool_User_Page">SRTool User Guide</a></td>
					<td>SRTool User Guide</td>
				</tr>

				<tr>
					<td><a class="btn btn-info btn-lg" href="https://bugzilla.yoctoproject.org/buglist.cgi?list_id=609538&bug_status=__all__&query_format=specific&order=relevance%20desc&product=Security%20Response%20Tool">SRTool Bugzilla</a></td>
					<td>SRTool Bugzilla Defects and Enhancement Requests</td>
				</tr>

				<tr>
					<td><a class="btn btn-info btn-lg" href="https://www.yoctoproject.org/">Yocto Project Home</a></td>
					<td>Yocto Project Home Page</td>
				</tr>

			</table>
			</div>
		</div>

	</div>
  </div>
{% endblock %}
