{% extends "base.html" %}

{% load projecttags %}

{% block title %} {{object.name}} - ACME Style {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'products' %}">Products</a></li><span class="divider">&rarr;</span>
			<li>{{object.name}} - ACME Style</li>
		</ul>
	</div>
</div>

<!-- Begin container -->

<div class="row">
  <div class="col-md-12">
    <div class="page-header build-data">
        <h1>[ ACME ] {{object.long_name}}Detail</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
	<div class="well">
	<h2>Quick Info - ACME Style</h2>
		<dl class="dl-horizontal">
			<dt>Key:</dt>
			<dd>{{object.key}}</dd>

			<dt>Name:</dt>
			<dd>{{object.name}}</dd>

			<dt>Version:</dt>
			<dd>{{object.version}}</dd>

			<dt>Profile:</dt>
			<dd>{{object.profile}}</dd>

			<dt>Cpe:</dt>
			<dd>{{object.cpe}}</dd>

			<dt>Defect Tags:</dt>
			<dd>{{object.defect_tags }}</dd>

			<dt>Product Tags:</dt>
			<dd>{{object.product_tags }}</dd>

			<dt>Investigations Count/Link:</dt>
			<dd>
				{% if object.product_investigation.all.count %}
					<a href="{% url 'investigations' %}?filter=is_product:{{object.key}}&" class="btn btn-info" >
						{{object.product_investigation.all.count}}
					</a>
				{% else %}0{% endif %}
			</dd>

			<dt>Defects Count/Link:</dt>
			<dd>
				{% if object.product_defect.all.count %}
					<a href="{% url 'defects' %}?filter=is_product:{{object.key}}&" class="btn btn-info" >
						{{object.product_defect.all.count}}
					</a>
				{% else %}0{% endif %}
			</dd>

	   </dl>
	</div>
  </div>
</div>

<!-- Javascript support -->
<script>
	$(document).ready(function() {
		/* Set the report link */
		$('#report_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list={{object.id}}");
	});
</script>

{% endblock %}
