{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} ACME {% endblock %}
{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Hello from ACME Corporation </h1>
		</div>
  </div>

  <!-- Design copied from "srtgui/templates/landing.html -->

  <div class="row">
	<div class="jumbotron well-transparent">

		<div class="col-md-6">
			<div>
			<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
				<thead>
					<tr>
						<th>Table</th>
						<th>Description</th>
					</tr>
				</thead>

				<tr>
					<td><a class="btn btn-info btn-lg" href="{% url 'acmeproducts' %}">Products's</a></td>
					<td>Products list- ACME Style</td>
				</tr>

				<tr>
					<td><a class="btn btn-info btn-lg" href="{% url 'acmedefects' %}">Defects</a></td>
					<td>Defects list- ACME Style</td>
				</tr>

			</table>
			</div>
		</div>

	</div>
  </div>
{% endblock %}
