<!DOCTYPE html>
{% load static %}
{% load projecttags %}
{% load project_url_tag %}
<html lang="en">
  <head>
    <title>
      {% block title %} SRTool {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <!--link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css"/-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type='text/css'/>
    <link rel="stylesheet" href="{% static 'css/default.css' %}" type='text/css'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="{% static 'js/jquery-2.0.3.min.js' %}">
    </script>
    <script src="{% static 'js/jquery.cookie.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    </script>
    <script src="{% static 'js/typeahead.jquery.js' %}">
    </script>
    <script src="{% static 'js/jsrender.min.js' %}">
    </script>
    <script src="{% static 'js/highlight.pack.js' %}">
    </script>
    <script src="{% static 'js/libtoaster.js' %}">
    </script>
    {% if DEBUG %}
    <script>
      libtoaster.debug = true;
    </script>
    {% endif %}
    <script>
      $.views.settings.delimiters("<%", "%>");

      libtoaster.ctx = {
        jsUrl : "{% static 'js/' %}",
        htmlUrl : "{% static 'html/' %}",
      };
    </script>
    {% block extraheadcontent %}
    {% endblock %}

<style>
.dropbtn {
    background-color: white;
    color: black;
    font-size: 14px;
    cursor: pointer;

    border: 2px solid grey;
    border-radius: 5px;

    padding: 5px 12px !important;
    margin: 10px 10px 10px 10px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.localblue {
    color: blue;
}

.blueborder {
    border: 2px solid blue;
}

.fieldset-auto-width {
	 display: inline-block;
}

</style>

  </head>

  <body>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


    {% csrf_token %}
    <div id="loading-notification" class="alert alert-warning lead text-center" style="display:none">
      Loading <i class="fa-pulse icon-spinner"></i>
    </div>

    <div id="change-notification" class="alert alert-info alert-dismissible change-notification" style="display:none">
      <button type="button" class="close" id="hide-alert" data-toggle="alert">&times;</button>
      <span id="change-notification-msg"></span>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <div class="toaster-navbar-brand">

            {% if srt_local_logo.0 %}
              <a href="{{ srt_local_logo.2 }}">
                <img class="logo" src="{{ srt_local_logo.1 }}" alt="{{srt_local_logo.0}}"/>
              </a>
            {% endif %}
            <a href="/">
              <img class="logo" src="{% static 'img/logo.png' %}" alt="Yocto Project logo"/>
            </a>
            <a class="brand" href="/">SRTool:Security Response Tool [ACME]</a>
            {% if DEBUG %}
            <span class="glyphicon glyphicon-info-sign" title="<strong>SRTool version information</strong>" data-content="<dl><dt>Git branch</dt><dd>{{TOASTER_BRANCH}}</dd><dt>Git revision</dt><dd>{{TOASTER_REVISION}}</dd></dl>"></i>
            {% endif %}
          </div>
        </div>
        <div class="collapse navbar-collapse" id="global-nav">
          <ul class="nav navbar-nav">

			<li id="navbar-home" {% if request.resolver_match.url_name == 'landing' %}class="active"{% endif %}>
			<a href="{% url 'landing' %}">
			  <i class="glyphicon glyphicon-tasks"></i>
			  Home [ACME]
			</a>
			</li>

          {% if user.is_authenticated %}
			{% if request.user.is_contributor %} <!-- greater than a Reader -->
                <li id="navbar-manage"  {% if request.resolver_match.url_name == 'manage' %}class="active"{% endif %}>
                <a href="{% url 'manage' %}">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Management
                </a>
                </li>
            {% endif %}

			{% if request.user.is_contributor %} <!-- greater than a Reader -->
              {% if request.resolver_match.url_name == 'cve' or request.resolver_match.url_name == 'cves' %}
                <li id="navbar-cve">
				  <a href="{% url 'cve_create' %}">
				    <i class="glyphicon glyphicon-tasks"></i>
				    New Cve
                    <!-- <span class="glyphicon glyphicon-question-sign get-help" title="Create a new Cve"></span> -->
				  </a>
                </li>
              {% endif %}
              {% if request.resolver_match.url_name == 'vulnerability' or request.resolver_match.url_name == 'vulnerabilities' %}
                <li id="navbar-vulnerability">
				  <a href="{% url 'vulnerability_create' %}">
				    <i class="glyphicon glyphicon-tasks"></i>
				    New vunerability
                    <!-- <span class="glyphicon glyphicon-question-sign get-help" title="Create a new Vulnerability"></span> -->
				  </a>
                </li>
              {% endif %}
              {# FYI: investigation must be created from vulnerabilities and also attached to products #}
            {% endif %}

          {% endif %} <!-- user.is_authenticated -->

	        {% if request.resolver_match.url_name == 'cve' %}
              <li id="navbar-altcves">
                <a id="alternate_cve_link" href="{% url 'cve_alternates' 1 %}">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Fetch alt data
                  <!-- <span class="glyphicon glyphicon-question-sign get-help" title="Fetch the alternate CVE data sources"></span> -->
                </a>
              </li>
            {% endif %}

            <li id="navbar-docs">
              {% if srt_documentation_link %}
                <a target="_blank" href="{{srt_documentation_link}}"><i class="glyphicon glyphicon-book"></i> Documentation [ACME]</a>
              {% endif %}
            </li>

            <li id="navbar-export">
              {% if request.resolver_match.url_name == 'landing' %}
                <a href="{% url 'report' request.resolver_match.url_name %}"><i class="glyphicon glyphicon-tasks"></i> Export</a>
              {% else %}
                <a id="report_link" href="{% url 'report' request.resolver_match.url_name %}"><i class="glyphicon glyphicon-tasks"></i> Export</a>
              {% endif %}
            </li>

			<div class="dropdown navbar-right">
          	  {% if user.is_authenticated %}
			    <button onclick="myFunction()" class="dropbtn ">Hello '{{user.username}}'</button>
			  {% else %}
			    <button onclick="myFunction()" class="dropbtn ">Hello 'Guest' (Login here)</button>
			  {% endif %}
			  <div id="myDropdown" class="dropdown-content navbar-right">
          		{% if user.is_authenticated %}
					<a href="{% url 'logout' %}">Logout</a>
					<a href="{% url 'password_change' %}">Change password</a>
					<a href="{% url 'edit_user' user.pk %}">Edit user settings</a>
<!--
					<a href="{% url 'password_reset' %}">Reset password</a>
					<a href="{% url 'tbd' %}">Request permissions</a>
-->
	            {% else %}
					<a href="{% url 'login' %}">Login</a>
					<a href="{% url 'signup' %}">Request account</a>
	            {% endif %}
			  </div>
			</div>

        </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block pagecontent %}
      {% endblock %}
    </div>
  </body>
</html>
