{# Popover that displays the Investigations related to this Product #}
{% load projecttags %}

{% with investigations='Wind River Linux 9' %}
{% with count_investigations=1 %}

{% if count_investigations > 0 %}
  <a data-content='<ul class="list-unstyled">
  {% for dep in investigations.packages %}
     <li>
      {{dep.depends_on.name}}
     </li>
   {% endfor %}
   </ul>' class="btn btn-default" title='
   <strong>
      {{data.name}}
      </strong>
      dependencies -
      <strong>{{investigations.size|filtered_filesizeformat}}</strong>'>
      {{count_investigations}}
  </a>
{% endif %}

{% endwith %}
{% endwith %}
