{% extends 'base.html' %}
{% load static %}


{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
  <script>
  // Toggle the row checkbox if any column element is clicked
  function toggle_select(toggle_id) {
  	row_check_box = document.getElementById(toggle_id);
  	row_check_box.checked = !row_check_box.checked;
  }
  </script>

  {% if request.user.is_creator %}{% else %}<meta http-equiv="refresh" content="0; url=/" />{% endif %}

  <style>
  /* Style the execution buttons */
  button.execute { height:50px;width:210px;background-color:#4CAF50;text-align:center; border:2px #f69c55;border-radius: 12px; }

  button:disabled {
    cursor: not-allowed;
  }

  /* Define the columns that floats next to each other */
  .column1 {
      float: left;
      width: 280px;
      padding: 10px;
  }
  .column2 {
      float: left;
      width: 150px;
      padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  </style>

{% endblock %}

{% block title %} Select CVE's - SRTool {% endblock %}

{% block pagecontent %}

  <div class="row">
    <!-- Breadcrumbs -->
  	<div class="col-md-12">
  		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'manage' %}">Management</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'triage_cves' %}">Triage CVE's</a></li><span class="divider">&rarr;</span>
			<li>Select CVE's</li>
  		</ul>
  	</div>
  </div>

  <div id="change-vulnerable-state" > <!--class="form-inline" -->
    <b><big>Actions: </big></b>
    <button id="select-these" class="btn btn-default" type="button">Select these</button>
    <button id="unselect-these" class="btn btn-default" type="button">Un-select these</button>
    <button id="select-isvulnerable" class="btn btn-default" type="button">Vulnerable ...</button>
    <button id="select-notvulnerable" class="btn btn-default" type="button">Not vulnerable ...</button>
    <button id="select-investigate" class="btn btn-default" type="button">Investigate ...</button>
    <button id="select-other" class="btn btn-default" type="button">Other ...</button>
  </div>
<!--
  <div id="display-objects-created">
      <p><b><label id="objects-created">Created: </label></b>
  </div>
-->

  <div id="details-isvulnerable" style="display:none;">
  	<p><p>
    <button class="execute" id="submit-isvulnerable"> Submit Vulnerable CVE's </button>
    <div class="row">
      <div class="column1">
        <p><b><label id="products_count">Optional: Add Vulnerable Products (0):</label></b>
        <div id="all-products" class="scrolling" style="width: 250px;">
        {% for product in products %}
    		<div class="checkbox">
    		  <label>
    			<input class="checkbox-products" name="{{product.pk}}" type="checkbox">{{product.long_name}}
    		  </label>
    		  <p>
    		</div>
    	{% endfor %}
        </div>
      </div>
      <div class="column2">
        <p><b><label id="priority">Set Priority:</label></b>
        <div id="priority-list" class="scrolling" style="width: 120px;">
    		<div class="checkbox"> <label>
    			<input type="radio" name="priority" value="4" type="checkbox">  High
            </label><p></div>
    		<div class="checkbox"> <label>
    			<input type="radio" name="priority" value="3" type="checkbox" checked="yes">  Medium
            </label><p></div>
    		<div class="checkbox"> <label>
    			<input type="radio" name="priority" value="2" type="checkbox">  Low
            </label><p></div>
        </div>
      </div>
      <div class="column2">
        <p><b><label id="components">Set Components:</label></b>
        <div id="all-components" class="scrolling" style="width: 150px;">
        {% for component in components %}
    		<div class="checkbox">
    		  <label>
    			<input class="checkbox-components" name="{{component}}" type="checkbox">{{component}}
    			{% if "Userspace" == component %}<hr>{% endif %}
    		  </label>
    		  <p>
    		</div>
    	{% endfor %}
        </div>
      </div>
    </div>

	<p><input id="create_defects" type="checkbox">  Create Defect(s)  </input>
    Reason: <input type="text" id="input-defect-reason" name="defect-reason" size="20" placeholder="(optional)"> (e.g. "Security Advisory [- REASON -] CVE-2020-1234")

    &nbsp;&nbsp;<input id="create_notifications" type="checkbox" checked>&nbsp;Create Notifications</input>
    <p><b><big>Reason: </big></b>
    <input type="text" id="input-isvulnerable-reason" name="reason" size="40">&nbsp;&nbsp;<input id="markPublishIs" type="checkbox">&nbsp;Mark for Publish</input>&nbsp;&nbsp;<input id="markFor" type="checkbox">  Add Keywords to 'For' </input>

	<div id="group_vulnerability" style="border: 1px solid #dddddd; padding: 0 5px; width: 400px; margin-bottom: 10px; margin-top: 0px; " >
		<div class="checkbox"> <label>
			<input type="radio" name="group_vulnerability" value="0" type="checkbox" checked="yes">   Each CVE creates a Vulnerability
		</label><p></div>
		<div class="checkbox"> <label>
			<input type="radio" name="group_vulnerability" value="1" type="checkbox">  Group CVEs into one Vulnerability
		</label><p></div>
		<div class="checkbox"> <label>
			<input type="radio" name="group_vulnerability" value="2" type="checkbox">  Attach CVEs to existing Vulnerability
			<input type="text" id="vulnerability_name" name="vulnerability_name" size="20" style="margin-left: 20px;" placeholder="(Vunerability name)">
		</label>
		<p></div>
	</div>

  </div>

  <div id="details-notvulnerable" style="display:none;">
  	<p><p>
    <button class="execute" id="submit-notvulnerable"> Submit Not-vulnerable CVE's </button>
	<input id="notship" type="checkbox">  "We do not ship ..."  </input>
    <p><b><big>Reason: </big></b>
    <p><input type="text" id="input-notvulnerable-reason" name="reason" size="40">&nbsp;&nbsp;<input id="markPublishNot" type="checkbox">&nbsp;Mark for Publish</input>&nbsp;&nbsp;<input id="markAgainst" type="checkbox">  Add Keywords to 'Against' </input>
  </div>

  <div id="details-investigate" style="display:none;">
  	<p><p>
    <button class="execute" id="submit-investigate"> Submit Investigation CVE's </button>
  </div>

  <div id="details-other" style="display:none;">
  	<p><p>
    <button class="execute" id="submit-other"> Set selected status for CVEs </button>
    <p><i>Status</i> =
    <select name="Status" id="select-status-state">
    <option value="0">Historical</option>
    <option value="1" selected>New</option>
    <option value="2">New-Reserved</option>
    </select>
    <p>
  </div>


  <div class="row">
    <div class="col-md-12">
  	<div class="page-header">
  	  <h1 class="top-air" data-role="page-title"></h1>
  	</div>

    {# xhr_table_url is just the current url so leave it blank #}
    {% url '' as xhr_table_url %}
  	{% include 'toastertable.html' %}
    </div>
  </div>

  <!-- Javascript support -->
  <script>

  //# sourceURL=somename.js

  // global variables
  var selected_isvulnerable=false;
  var selected_notvulnerable=false;
  var selected_investigate=false;
  var selected_other=false;
  var cve_total=0;

  $(document).ready(function() {

    function onCommitAjaxSuccess(data, textstatus) {
      if (window.console && window.console.log) {
        console.log("XHR returned:", data, "(" + textstatus + ")");
      } else {
        alert("NO CONSOLE:\n");
        return;
      }
      if (data.error != "ok") {
        alert("error on request:\n" + data.error);
        return;
      } else if (('created_list' in data) && ("" != data.created_list)) {
        alert(data.created_list);
      }
      // reload the page with the updated tables
      location.reload(true);
    }

    function onCommitAjaxError(jqXHR, textstatus, error) {
      console.log("ERROR:"+error+"|"+textstatus);
      alert("XHR errored1:\n" + error + "\n(" + textstatus + ")");
    }

    /* ensure cookie exists {% csrf_token %} */
    function postCommitAjaxRequest(reqdata) {
	  var ajax = $.ajax({
        type:"POST",
        data: reqdata,
        url:"{% url 'xhr_triage_commit'%}",
        headers: { 'X-CSRFToken': $.cookie("csrftoken")},
        success: onCommitAjaxSuccess,
        error: onCommitAjaxError,
      })
    }

    function update_vulnerable_status() {
      var cve_count = 0;
      var cve_checked_count = 0;
      $('#selectcvetable input').each(function(){
        cve_count = cve_count + 1;
        if ($(this).is(':checked')) {
          cve_checked_count = cve_checked_count + 1;
        }
      });
      if (cve_total > cve_count) {
          document.getElementById("select-these").innerText = "Select "+(cve_count-cve_checked_count)+" unchecked ("+(cve_total-cve_count)+" offpage)";
      } else {
          document.getElementById("select-these").innerText = "Select "+(cve_count-cve_checked_count)+" unchecked";
      }
      document.getElementById("unselect-these").innerText = "Un-select "+cve_checked_count+" checked";
      if (0 == cve_checked_count) {
        //$("#submit-isvulnerable").attr("disabled","disabled");
        document.getElementById("submit-notvulnerable").disabled = true;
        document.getElementById("submit-isvulnerable").disabled = true;
      } else {
        //$("#submit-isvulnerable").removeAttr("disabled");
        document.getElementById("submit-notvulnerable").disabled = false;
        document.getElementById("submit-isvulnerable").disabled = false;
      }
    }

    $('#select-these').click(function(){
      $('#selectcvetable input').each(function(){
        $(this).prop('checked', true);
      });
      update_vulnerable_status();
    });

    $('#unselect-these').click(function(){
      $('#selectcvetable input').each(function(){
        $(this).prop('checked', false);
      });
      update_vulnerable_status();
    });

    // Open IsVulnerable Action
    $('#select-isvulnerable').click(function(){
      if (selected_isvulnerable) {
        selected_isvulnerable=false;
        $("#select-these").removeAttr("disabled");
        $("#unselect-these").removeAttr("disabled");
        $("#select-notvulnerable").removeAttr("disabled");
        $("#select-investigate").removeAttr("disabled");
        $("#select-other").removeAttr("disabled");
	    $("#details-isvulnerable").slideUp();
      } else {
        selected_isvulnerable=true;
        $("#select-these").attr("disabled","disabled");
        $("#unselect-these").attr("disabled","disabled");
        $("#select-notvulnerable").attr("disabled","disabled");
        $("#select-investigate").attr("disabled","disabled");
        $("#select-other").attr("disabled","disabled");
        $("#input-isvulnerable-reason").val($("#search-input-selectcvetable").val())
        update_vulnerable_status();
	    $("#details-isvulnerable").slideDown();
      }
    });

    // Open NotVulnerable Action
    $('#select-notvulnerable').click(function(){
      if (selected_notvulnerable) {
        selected_notvulnerable=false;
        $("#select-these").removeAttr("disabled");
        $("#unselect-these").removeAttr("disabled");
        $("#select-isvulnerable").removeAttr("disabled");
        $("#select-investigate").removeAttr("disabled");
        $("#select-other").removeAttr("disabled");
	    $("#details-notvulnerable").slideUp();
      } else {
        selected_notvulnerable=true;
        $("#select-these").attr("disabled","disabled");
        $("#unselect-these").attr("disabled","disabled");
        $("#select-isvulnerable").attr("disabled","disabled");
        $("#select-investigate").attr("disabled","disabled");
        $("#select-other").attr("disabled","disabled");
        $("#input-notvulnerable-reason").val($("#search-input-selectcvetable").val())
        update_vulnerable_status();
        $("#details-notvulnerable").slideDown();
      }
    });

    // Open Investigate Action
    $('#select-investigate').click(function(){
      if (selected_investigate) {
        selected_investigate=false;
        $("#select-these").removeAttr("disabled");
        $("#unselect-these").removeAttr("disabled");
        $("#select-isvulnerable").removeAttr("disabled");
        $("#select-notvulnerable").removeAttr("disabled");
        $("#select-other").removeAttr("disabled");
	    $("#details-investigate").slideUp();
      } else {
        selected_investigate=true;
        $("#select-these").attr("disabled","disabled");
        $("#unselect-these").attr("disabled","disabled");
        $("#select-isvulnerable").attr("disabled","disabled");
        $("#select-notvulnerable").attr("disabled","disabled");
        $("#select-other").attr("disabled","disabled");
        update_vulnerable_status();
        $("#details-investigate").slideDown();
      }
    });

    // Open Investigate Action
    $('#select-other').click(function(){
      if (selected_other) {
        selected_other=false;
        $("#select-these").removeAttr("disabled");
        $("#unselect-these").removeAttr("disabled");
        $("#select-isvulnerable").removeAttr("disabled");
        $("#select-notvulnerable").removeAttr("disabled");
        $("#select-investigate").removeAttr("disabled");
	    $("#details-other").slideUp();
      } else {
        selected_other=true;
        $("#select-these").attr("disabled","disabled");
        $("#unselect-these").attr("disabled","disabled");
        $("#select-isvulnerable").attr("disabled","disabled");
        $("#select-notvulnerable").attr("disabled","disabled");
        $("#select-investigate").attr("disabled","disabled");
        update_vulnerable_status();
        $("#details-other").slideDown();
      }
    });


    $('#notship').click(function(){
    	not_ship = "We do not ship '";
    	var reason = $("#input-notvulnerable-reason").val().trim();
    	reason = reason.replace(not_ship,'');
    	if ("'" == reason.slice(-1)) {
    		reason = reason.slice(0,-1)
    	}
        if ($('#notship').is(':checked')) {
	    	reason = not_ship + reason + "'";
        }
    	$("#input-notvulnerable-reason").val(reason);
    });

    $('#submit-isvulnerable').click(function(){

      var cve_list=[];
      $('#selectcvetable input:checked').each(function(){
        cve_list.push($(this).attr('name'));
      });
      cve_list = cve_list.join(",");
      if ("" == cve_list) {
        alert("No CVE's were selected");
        return;
      }
      var product_list=[];
      $('#all-products input:checked').each(function(){
        product_list.push($(this).attr('name'));
      });
      product_list = product_list.join(",");
      var component_list=[];
      $('#all-components input:checked').each(function(){
        component_list.push($(this).attr('name'));
      });
      /* components are space delimited */
      component_list = component_list.join(" ");
      var priority=0
      $('#priority-list input:checked').each(function(){
        priority = $(this).attr('value');
      });
      var group_vulnerability=0
      $('#group_vulnerability input:checked').each(function(){
        group_vulnerability = $(this).attr('value');
      });
      postCommitAjaxRequest({
      	"action" : 'submit-isvulnerable',
      	"reason" : $("#input-isvulnerable-reason").val(),
      	"defect_reason" : $("#input-defect-reason").val(),
      	"cves"   : cve_list,
      	"products": product_list,
      	"components": component_list,
      	"priority": priority,
      	"pub"    : $('#markPublishIs').is(':checked') ? "yes" : "no",
      	"for"    : $('#markFor').is(':checked') ? "yes" : "no",
      	"mk_d"   : $('#create_defects').is(':checked') ? "yes" : "no",
      	"vul_group": group_vulnerability,
      	"vul_name": $("#vulnerability_name").val(),
      	"notify" : $('#create_notifications').is(':checked') ? "yes" : "no",
      	});
    });

    $('#submit-notvulnerable').click(function(){
      var cve_list=[];
      $('#selectcvetable input').each(function(){
        if ($(this).is(':checked')) {
          cve_list.push($(this).prop('name'));
        }
      });
      cve_list = cve_list.join(",");
      if ("" == cve_list) {
        alert("No CVE's were selected");
        return;
      }
      postCommitAjaxRequest({
      	"action"  : 'submit-notvulnerable',
      	"reason"  : $("#input-notvulnerable-reason").val(),
      	"cves"    : cve_list,
      	"pub"     : $('#markPublishNot').is(':checked') ? "yes" : "no",
      	"against" : $('#markAgainst').is(':checked') ? "yes" : "no",
      	});
    });

    $('#submit-investigate').click(function(){
      var cve_list=[];
      $('#selectcvetable input').each(function(){
        if ($(this).is(':checked')) {
          cve_list.push($(this).prop('name'));
        }
      });
      cve_list = cve_list.join(",");
      if ("" == cve_list) {
        alert("No CVE's were selected");
        return;
      }
      postCommitAjaxRequest({
      	"action"  : 'submit-investigate',
      	"cves"    : cve_list,
      	});
    });

    $('#submit-other').click(function(){
      var cve_list=[];
      $('#selectcvetable input').each(function(){
        if ($(this).is(':checked')) {
          cve_list.push($(this).prop('name'));
        }
      });
      cve_list = cve_list.join(",");
      if ("" == cve_list) {
        alert("No CVE's were selected");
        return;
      }
      var status=$('#select-status-state').val();
      postCommitAjaxRequest({
      	"action"  : 'submit-other',
      	"cves"    : cve_list,
      	"status"  : status,
      	});
    });

    // When change in product selections, update labels and enables
    $(document).on("change", "#all-products :checkbox", function() {
      update_vulnerable_status();
    });

    // When change in CVE selections, update labels and enables
    $(document).on("change", "#selectcvetable :checkbox", function() {
      update_vulnerable_status();
    });

    // Standard Toaster Table enablement

      var tableElt = $("#{{table_name}}");
      var titleElt = $("[data-role='page-title']");

      tableElt.on("table-done", function (e, total, tableParams) {
        var title = "Triage CVE's";

        if (tableParams.search || tableParams.filter) {
          if (total === 0) {
            title = "No CVE's found";
          }
          else if (total > 0) {
            title = total + " CVE" + (total > 1 ? "'s" : '') + " found";
          }
        }

        titleElt.text(title);
        cve_total = total;
        update_vulnerable_status();

        /* Set the report link */
        var record_list=""
        $(".name > a").each(function(){
          var this_id=$(this).prop('id');
          if (this_id.startsWith("dataid_")) {
            record_list +=this_id.replace(/dataid_/,"") + ",";
          }
        });
        $('#report_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list="+record_list);

      });
    });
  </script>
{% endblock %}
