{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Export Report {% endblock %}

{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Export/Report: {{page}}</h1>
		</div>
  </div>

  <form>

	{% if request.user.is_creator %}
	    <hr>
		Report Type:<br>
		<select name="Report Type">
		<option value="staus">Overall Status</option>
		<option value="vulnerabilities">Open Vulnerabilities</option>
		<option value="investigations">Open Investigations</option>
		<option value="response">Response Time Status</option>
		</select>
	{% endif %}

<!--
    <hr>
    Title:<br>
    <input type="text" name="title">
    <br>
-->

    <hr>

	Record Range:<br>
	<input type="radio" name="records" value="Selected" checked> Selected<br>
	<input type="radio" name="records" value="All"> All<br>
	Column Range:<br>
	<input type="radio" name="columns" value="Selected" checked> Selected<br>
	<input type="radio" name="columns" value="All"> All<br>

    <hr>

    Export Format:<br>
	<input type="radio" name="format" value="Text" checked> Text<br>
	<input type="radio" name="format" value="RTF"> RTF<br>
	<input type="radio" name="format" value="CSV"> CSV<br>
	<input type="radio" name="format" value="XML"> XML<br>
	<input type="radio" name="format" value="JSON"> CVE NIST JSON<br>

    <hr>

	<a class="btn btn-info btn-lg" id="download-report" href="{% url 'tbd' %}">Generate and Download</a>

  </form>

{% endblock %}
