{% extends 'base.html' %}
{% load static %}

{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
  {% if access.is_creator %}{% else %}<meta http-equiv="refresh" content="0; url=/" />{% endif %}
{% endblock %}

{% block title %} Select Keywords - SRTool {% endblock %}

{% block pagecontent %}

<style>
#keywordsId{
font-size: 14px;
font-weight: normal;
resize: none;
overflow-y: scroll;
}

</style>

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li>Select Keywords</li>
		</ul>
	</div>
</div>

<p><b><big>Keywords: </big></b>
<a class="btn btn-default navbar-btn " id="investigate-button" href="">Add Keyword</a>
<a class="btn btn-default navbar-btn " id="exclude-button" href="">Add Keyword List</a>

<div class="row">
 <textarea rows="15" cols="50" id="keywordsId"
                    style="max-height:100px;min-height:100px; resize: none">
  foo
  bar
  lkfkf
  trrtg
  srtgsg
  sbsgseg
  stsetgg

 </textarea>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="top-air" data-role="page-title"></h1>
    </div>

    {% url 'keywords' as xhr_table_url %}
    {% include 'toastertable.html' %}
  </div>
</div>


  <script>
    $(document).ready(function () {
      var tableElt = $("#{{table_name}}");
      var titleElt = $("[data-role='page-title']");

      tableElt.on("table-done", function (e, total, tableParams) {
        var title = "Select Keywords";

        if (tableParams.search || tableParams.filter) {
          if (total === 0) {
            title = "No Keywords found";
          }
          else if (total > 0) {
            title = total + " Keyword" + (total > 1 ? "s" : '') + " found";
          }
        }

        titleElt.text(title);
      });
    });
  </script>
{% endblock %}
