{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Welcome to SRTool{% endblock %}
{% block pagecontent %}
      <div class="row">
            <div class="col-md-7" style="padding-left: 50px;">
              <h1>Security Response Tool (SRTool)</h1>
              <p>A web interface to SRTool CVE investigations</p>
            </div>
      </div>
      <div class="row">
        <div class="jumbotron well-transparent">

            <div class="col-md-6">
				<div>
				<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
					<thead>
						<tr>
							<th>Table</th>
							<th>Description</th>
						</tr>
					</thead>

					{% if request.user.is_creator %}
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'manage' %}">Management</a></td>
						<td>Triage CVE's, Create Vulnerabilities, Manage Users</td>
					</tr>
					{% endif %}

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'cves' %}">CVE's</a></td>
						<td>Common Vulnerability Enumeration</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'vulnerabilities' %}">Vulnerabilities</a></td>
						<td>SRTool Vulnerabilities (company level)</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'investigations' %}">Investigations</a></td>
						<td>SRTool Investigations (product level)</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'defects' %}">Defects</a></td>
						<td>SRTool Defects</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'cpes_srtool' %}">Package CPE's</a></td>
						<td>Affected packages (Common Platform Enumeration)</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'cwes' %}">CWE's</a></td>
						<td>Common Weakness Enumeration</td>
					</tr>

					<tr>
						<td> <a class="btn btn-info btn-lg" href="{% url 'products' %}">Products</a></td>
						<td>SRTool Products<td>
					</tr>

				</table>
				</div>

            </div>

            <div class="col-md-6">
			  <div align="center"><a class="btn btn-primary btn-lg" href="{% url 'guided_tour' %}">Click here to take a Guided Tour!</a></div>
			  <p />
			  <p />
              <img alt="CVE preview" class="img-thumbnail" src="{% static 'img/cve_splash.png' %}"/>
            </div>

        </div>
      </div>

{% endblock %}
