{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Publish Requests {% endblock %}

{% block pagecontent %}
<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'manage' %}">Management</a></li><span class="divider">&rarr;</span>
			<li>Publish (Proposals)</li>
		</ul>
	</div>
</div>

<h2> Manage Publish Requests</h2>
<ul>
	<li>The SRTool supports an external publishing tool, for example a business table or the vendor's public website</li>
	<li>These tools can be used to (a) submit CVEs to that tool, and (b) update the CVEs when they have been published</li>
</ul>

<h2> Publishing Actions</h2>
<ul>
	<tr>
		<td><a class="btn btn-info btn-lg" href="{% url 'select-publish' %}">Publish Request</a></td>
		<td>Process the items that are ready to be published from SRTool</td>
	</tr>

	<br>
	<br>
	<br>

	<tr>
		<td><a class="btn btn-info btn-lg" href="{% url 'update-published' %}">Published Update</a></td>
		<td>Process the items that have been published</td>
	</tr>
</ul>

{% endblock %}
