{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Report/Export {% endblock %}

{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Report/Export: {{title}}</h1>
		</div>
  </div>

  <form method="POST">{% csrf_token %}
    <input type="hidden" name="parent_page" value="{{parent_page}}">
    <input type="hidden" name="record_list" value="{{record_list}}">

	{% if report_type_list %}
	    <hr>
		Report Type:<br>
		<select name="report_type">
		{{report_type_list|safe}}
		</select>
	{% else %}
	    <hr>
		Note: There is no report defined for this page.<br>
	{% endif %}

	{% if report_get_title %}
    <hr>
    Title:<br>
    <input type="text" name="title">
    <br>
	{% endif %}
    <hr>

	{% if report_recordrange_list %}
	Record Range:<br>
	{{report_recordrange_list|safe}}
	<br>
	{% endif %}
	{% if report_columnrange_list %}
	Column Range:<br>
	{{report_columnrange_list|safe}}
	{% endif %}
    <hr>

	{% if report_format_list %}
    Export Format:<br>
	{{report_format_list|safe}}
    <hr>
	{% endif %}

	{% if report_custom_list %}
    Page Specific Settings:<br>
	{{report_custom_list|safe}}
    <hr>
	{% endif %}

	{% if report_enable_submit %}
	  <input type="submit" id="submit-report-button" class="btn btn-primary btn-lg" value="Generate and Download Report"/>
	  <a class="btn btn-info btn-lg" id="report-done" href="{% url 'landing' %}">Done</a>
	{% else %}
	  <a class="btn btn-info btn-lg" id="report-cancel" href="{% url 'landing' %}">Cancel</a>
	{% endif %}

  </form>

<br>
{% endblock %}

