{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} TBD {% endblock %}
{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>TBD</h1>
		</div>
  </div>

{% endblock %}
