{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Export Report {% endblock %}

{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Triage CVE's</h1>
		</div>
  </div>

  <form method="POST">{% csrf_token %}
	<h2> Triage CVEs </h2>
	<ul>
		<li>Select and triage a range of similar CVE's via scoring, string matches, and filters</li>
		<li>You can then (a) review/sample them, (b) select all or some, and then (c) click a button to bulk assign them to a new status</li>
		<li>This bulk tool is generally used for new incoming CVEs, but can also be used to review CVEs under investigation or indeed to re-evaluate any set of CVEs</li>
	</ul>
	<p>
	<!--<a class="btn btn-info btn-lg" href="{% url 'select-cves' %}">Incoming CVE Triage Page</a>-->
	<input type="submit" id="submit-tirage-cves" class="btn btn-primary btn-lg" value="CVE Triage Page"/>
    <i>Select CVE status filter</i> =
      <select name="cve-select-status" id="select-cve-status-filter">
      <option value="0">Historical</option>
      <option value="1" selected>New</option>
      <option value="2">New-Reserved</option>
      <option value="3">Investigate</option>
      <option value="4">Vulnerable</option>
      <option value="5">Not Vulnerable</option>
      </select>
	<p>
  </form>

  <h2> Triage Filtering</h2>
  <ul>
	<li>A collection of filter keywords have been extracted from the last 10 years of CVE triaging</li>
	<li>Each CVE is provided a list of matching positive keywords and matching negative keywords</li>
	<li>Each CVE is also given a score to represent the balance of positive versus negative keywords</li>
	<li>Here is keyword management page:</li>
  </ul>
  <a class="btn btn-info btn-lg" href="{% url 'package-filters' %}">Manage Keyword Filters</a></td> <!--'keywords'-->

{% endblock %}
