{% extends "base.html" %}

{% load projecttags %}

{% block title %} Users - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'manage' %}">Management</a></li><span class="divider">&rarr;</span>
			<li>Users</li>
		</ul>
	</div>
</div>

<!-- Begin container -->

<div class="row">
  <div class="col-md-12">
    <div class="page-header build-data">
        <h1>Users</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
	<div>
		<h3>Access Levels</h3>
		<div style="padding-left: 25px;">
		<p><b>Reader</b>: User that can read the content (Field, TechPubs)</p>
		<p><b>Contributor</b>: Reader that can can add notes and attachements (Engineers, Test, Managers)</p>
		<p><b>Creator</b>: Contributor that can create Investiations and defect records </p>
		<p><b>Admin</b>: Creator that can manage users, data sources</p>
		</div>
	</div>
	<p/>
  </div>
</div>

<div class="row" style="padding-left: 25px;">
	<h3>User List
		<a class="btn btn-default navbar-btn " id="new-investigation-attachement" href="{% url 'edit_user' 0 %}">Add user</a>
	</h3>

	<table class="table table-striped table-condensed" data-testid="vuln-hyperlinks-table">
		<thead>
			<tr>
				<th>User</th>
				<th>First</th>
				<th>Last</th>
				<th>Email</th>
				<th>Role</th>
				<th>Group</th>
				<th>Manage</th>
			</tr>
		</thead>

		{% if object.all %}
		  {% for user in object.all %}
			<tr>
				<td>{{ user.username }} </td>
				<td>{{ user.first_name }} </td>
				<td>{{ user.last_name }} </td>
				<td>{{ user.email }} </td>
				<td>{{ user.role }} </td>
				<td>{{ user.get_groups }} </td>
				<td>
				  {% if user.is_superuser or not user.is_staff %}
					<span id="user_'+{{user.id}}+'" class="js-user-name"></span>
					<a href="{% url 'edit_user' user.id %}"><span class="glyphicon glyphicon-edit js-icon-pencil-config_var"></span></a>
					<span class="glyphicon glyphicon-trash trash-user" id="user_trash_'+{{user.id}}+'" x-data="{{user.username}}:{{user.id}}"></span>
				  {% else %}
				  Built-in
				  {% endif %}
				</td>

			</tr>
		  {% endfor %}
		{% else %}
			<tr>
				<td>No users found</td>
			</tr>
		{% endif %}

	</table>

</div>

<!-- Javascript support -->
<script>
	$(document).ready(function() {

	  function onCommitAjaxSuccess(data, textstatus) {
	    if (window.console && window.console.log) {
	      console.log("XHR returned:", data, "(" + textstatus + ")");
	    } else {
	      alert("NO CONSOLE:\n");
	      return;
	    }
	    if (data.error != "ok") {
	      alert("error on request:\n" + data.error);
	      return;
	    }
	    // reload the page with the updated tables
	    location.reload(true);
	  }

	  function onCommitAjaxError(jqXHR, textstatus, error) {
	    console.log("ERROR:"+error+"|"+textstatus);
	    alert("XHR errored1:\n" + error + "\n(" + textstatus + ")");
	  }

	  /* ensure cookie exists {% csrf_token %} */
	  function postCommitAjaxRequest(reqdata) {
		var ajax = $.ajax({
	      type:"POST",
	      data: reqdata,
	      url:"{% url 'xhr_user_commit' %}",
	      headers: { 'X-CSRFToken': $.cookie("csrftoken")},
	      success: onCommitAjaxSuccess,
	      error: onCommitAjaxError,
	    })
	  }

	  $('.trash-user').click(function() {
		var result = confirm("Are you sure you want to remove user '" + $(this).attr('x-data').split(':')[0] + "'?");
		if (result){
			postCommitAjaxRequest({
				"action" : 'submit-trashuser',
				"record_id" : $(this).attr('x-data').split(':')[1],
				});
		}
	  });

	});

</script>


{% endblock %}
